/*Versión: 20190114001*/
/*Mobil: Establecido en el punto 5 de las consideraciones generales del Requerimiento 1*/
@media (max-width: 899px){
  footer{
    flex-wrap: wrap;
  }
  #content_header{
    flex-wrap: wrap;
  }
  #title{
    border-radius: 10px 10px 0px 0px;
    text-align: center;
  }
  #menu_bar{
    border-radius: 0px 0px 0px 0px;
    justify-content: center;
  }
  .content_body02{
    flex-wrap: wrap;
  }
  .image_content_01{
    width: 80%;
    margin: 10px 10%;
  }
  .galeria_imagen_general{
    width: 80%;
    margin: 10%;
    margin-Top: 10px;
    margin-bottom: 5px;
  }
}
/*Desktop: Establecido en el punto 5 de las consideraciones generales del Requerimiento 1*/
@media (min-width: 900px){
  #title{
    border-radius: 10px 0px 0px 0px;
    padding-bottom: 5px;
  }
  #menu_bar{
    border-radius: 0px 10px 0px 0px;
  }
  #Contenido{
    max-width: 900px;
    min-width: 600px;
  }
  .image_content_01{
    width: 44%;
    margin: 10px 3%;
  }
  .galeria_imagen_general{
    width: 26%;
    margin-left: 5.5%;
  }
}

@keyframes inicio {
  0% { margin-top: 150%;}
  60% { margin-top: -5%;}
  100% { margin-top: 0%;}
}
#Contenido{
  display: inline-block;
  text-align: left;
  animation: inicio 1s;
}
.contenedor{
  margin-top: 5px;
  display: flex;
}
body{
  font-family: "Dancing Script";
  background-color: #02010a;
  text-align: center;
}
footer{
  display: flex;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
}
h1{
  margin: 5px 0px 0px 15px;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
p{
  margin-top: 5px;
}
.fc{
  width: 100%;
  padding-left: 2%;
}
.section_title{
  font-size: 26px;
  font-weight: bold;
  margin-bottom:0px;
}
#content_header{
  display: flex;
}
#title{
  background-color: #5b7989;
  width: 100%;
}
#menu_bar{
  background-color: #5b7989;
  width: 100%;
  display: flex;
  padding-bottom: 5px;
}
.menu_option{
  color: white;
  text-align: center;
  padding-top: 10px;
  width: 30%;
}
#main_image{
  width: 80%;
  margin: 10px 10%;
  box-shadow: 2px 2px 2px #02010a;
}
.content_body01{
  background-color: #82c3a6;
}
.content_body02{
  background-color: #d5c75f;
  display: flex;
}
.image_content_01{
  text-align: center;
}
#image_02{
  width: 100%;
  transition: transform 0.5s;
  box-shadow: 2px 2px 2px #02010a;
}
#image_02:hover{
  border: 2px solid blue;
  transform: rotate(10deg);
}
#image_03{
  width: 100%;
  transition: transform 0.5s, box-shadow 1s;
  box-shadow: 2px 2px 2px #02010a;
}
#image_03:hover{
  border: 2px solid blue;
  transform: translate(20px, -5px);
}
.sn{
  font-family: arial;
  font-size: 10px;
  padding: 5px 20px;
  text-decoration:none;
  border-radius: 5px;
  color: white;
}
#a_facebook{
  background-color: #3b5998;
}
#a_twitter{
  background-color: #1da1f2;
}
#a_google{
  background-color: red;
}
.galeria{
  background-color: #d5c75f;
  display: flex;
  flex-wrap: wrap;
}
.galeria_imagen_general{
  margin-Top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #02010a;
}
#galeria_imagen_01{
  filter: blur(10px);
}
#galeria_imagen_02, #galeria_imagen_04, #galeria_imagen_06{
  filter: grayscale(100%);
}
#galeria_imagen_03{
  filter: sepia(90%);
}
