/*Versión: 20190109001*/
footer{
  background-color: #5b7989;
  border-radius: 0px 0px 10px 10px;
  Color: white;
}
h1{
  margin: 5px 0px 0px 15px;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
p{
  margin: 0px 10px;
}
#content_header{
  height: 50px;
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px;
}
#title{
  margin: none;
  height: 50%;
  float: left;
}
#menu_bar{
  width: 40%;
  float: right;
}
#main_image{
  width: 60%;
  margin: 10px 20%;
}
.content_body01{
  background-color: #82c3a6;
}
.content_body02{
  background-color: #d5c75f;
  display: flex;
  flex-wrap:wrap;
}
.menu_option{
  text-decoration:none;
  text-align: center;
  color: white;
  float: left;
  padding: 15px;
  width: 25%;
  transition: box-shadow 0.2s, background-color 0.5s;
}
.menu_option:hover{
  background-color: #82c3a6;
}
.image_content_01{
  width: 44%;
  margin: 10px 3%;
}
#image_02{
  width: 100%;
  border: 2px solid white;
  transition: transform 0.5s;
  transform: rotate(0deg);
  box-shadow: 10px 10px 10px #82c3a6;
/*
  -webkit-transform: rotate(0deg); // IE 9
  -moz-transform: rotate(0deg); // Firefox
  -o-transform: rotate(0deg); // Safari and Chrome
  -ms-transform: rotate(0deg); // Opera
  -webkit-transition: all 500ms ease-in-out; // IE 9
  -moz-transition: all 500ms ease-in-out; // Firefox
  -ms-transition: all 500ms ease-in-out; // Safari and Chrome
  -o-transition: all 500ms ease-in-out; // Opera
*/
}
#image_02:hover{
  transform: rotate(-10deg);
}
#image_03{
  width: 100%;
  transform: translate(0);
  transition: transform 0.5s;
  border: 2px solid white;
  box-shadow: 10px 10px 10px #82c3a6;

/*
  -webkit-transform: rotate(0deg); // IE 9
  -moz-transform: rotate(0deg); // Firefox
  -o-transform: rotate(0deg); // Safari and Chrome
  -ms-transform: rotate(0deg); // Opera
  -webkit-transition: all 500ms ease-in-out; // IE 9
  -moz-transition: all 500ms ease-in-out; // Firefox
  -ms-transition: all 500ms ease-in-out; // Safari and Chrome
  -o-transition: all 500ms ease-in-out; // Opera
*/

}
#image_03:hover{
  transform: translate(20px, -5px);
}
