/*Versión: 20190103001*/
footer{
    background-color: cadetblue;
    border-radius: 0px 0px 10px 10px;
    Color: white;
}
h1{
    margin: 5px 0px 0px 15px;
    color: white;
    text-shadow: 3px 3px 3px gray;
}
#content_header{ /*Contenedor del encabezado*/
    height: 50px;
    background-color: cadetblue;
    border-radius: 10px 10px 0px 0px;
}
#title{          /*Tirulo*/
    width: 50%;
    float: left;
}
#menu_bar{           /*Barra de menús*/
    width: 40%;
    float: left;
}
.menu_option{    /*opción en el menú*/
    border-radius: 5px;
    text-align: center;
    color: white;
    float: left;
    margin: 10px 16px 10px 15px;
    height: 20px;
    padding: 5px;
    width: 25%;
    background-color: brown;
    transition: box-shadow 0.2s, background-color 0.5s;
}
.menu_option:hover{     /*opción en el menú al pasar por encima el puntero del mouse*/
    box-shadow: 3px 3px 3px darkgray;
    background-color: darkred;
}
#content_body{ /*Contenedor del cuerpo de la página*/
    height: 300px;
    background-color: azure;
}
